/*
    Document   : Clear.css
    Created on : Apr 6, 2011, 1:38:25 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * System.css HTML elements resets
 */
tbody {
  border-top: none;
}
tbody th {
  border-bottom: none;
}
thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: none
}

/**
 * Default.css HTML elements resets
 */
tbody {
  border-top: none;
}
tbody th {
  border-bottom: none;
}
thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: none
}
